.content {
  width: 100%;
  max-width: 492px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}

.closeButton {
  padding: 6px 0;
}

.confirmStepButton {
  padding-right: 0;
}

.wide {
  max-width: 972px;
}

.overlay {
  &[data-state='open'] {
    opacity: 0.8;
  }
}
