.content {
  width: 100%;
  max-width: 492px;
}

.wide {
  max-width: 972px;
}

.overlay {
  &[data-state='open'] {
    opacity: 0.8;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filteringBody {
  display: flex;
  align-items: flex-start;
  padding: 0;
}

.withPreview {
  padding: 0;
}

.image {
  object-fit: cover;
}

.previewSizes {
  position: relative;
  width: 490px;
  height: 530px;
}

.button {
  margin-bottom: 24px;
  padding: 6px 36px;
}

.formContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  padding: 24px;
}

.textArea {
  resize: none;
  width: 100%;
  max-width: 434px;
  min-height: 120px;
}

.separator {
  background-color: var(--color-dark-100);

  &[data-orientation='horizontal'] {
    width: 100%;
    height: 1px;
  }
}

.charactersCount {
  margin-bottom: 10px;
  color: var(--color-light-900);
  text-align: right;
}
