.content {
  width: 100%;
  max-width: 492px;
}

.wide {
  max-width: 972px;
}

.overlay {
  &[data-state='open'] {
    opacity: 0.8;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filteringBody {
  display: flex;
  align-items: center;
  padding: 0;
}

.withPreview {
  padding: 0;
}

.image {
  object-fit: cover;
}

.previewSizes {
  position: relative;
  width: 490px;
  height: 530px
}


.button {
  margin-bottom: 24px;
  padding: 6px 36px;
}
