.buttonTrigger {
  padding: 6px;
  background-color: rgb(23 23 23 / 80%);
}

.iconImage {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--icon-size-m);
  height: var(--icon-size-m);
}

.popoverContainer {
  width: 100%;
  max-width: 300px;
  background-color: rgb(23 23 23 / 80%)
}

.contentContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.previewItem {
  position: relative;
  margin-bottom: 5px;
}

.image {
  object-fit: cover;
}

.closeButton {
  position: absolute;
  top: 2px;
  right: 2px;

  width: var(--icon-size-xs);
  height: var(--icon-size-xs);

  background-color: rgb(23 23 23 / 80%);
  border-radius: var(--border-radius-s);
}

.addButton {
  align-self: flex-start;
  height: 32px;
}

.plusIcon {
  width: var(--icon-size-l);
  height: var(--icon-size-l);
}
