.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: var(--max-screen-width);
  margin: 0 auto;
}

.tabList {
  margin-bottom: 30px;
}