.formContainer {
  display: flex;
  grid-column: 2 / 3;
  flex: 1;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  padding: 24px;
}

.textArea {
  resize: none;

  width: 100%;
  max-width: 434px;
  min-height: 120px;

  // размытие фона https://stackoverflow.com/questions/54667653/text-blur-after-scroll-bar-hide-with-webkit
  border-radius: unset;
}

.separator {
  background-color: var(--color-dark-100);

  &[data-orientation='horizontal'] {
    width: 100%;
    height: 1px;
  }
}
