// ---- CropBody start ----
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// ---- CropBody end ----

.withPreview {
  padding: 0;
}

// ---- FiltersBody start ----

.filteringBody {
  display: flex;
  align-items: flex-start;
  padding: 0;
}

.previewSizes {
  position: relative;
  width: 490px;
  height: 530px;
}

// ---- FiltersBody end ----

.button {
  margin-bottom: 24px;
  padding: 6px 36px;
}
