.container {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 380px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  margin-bottom: 6px;
}

.forgotPassword {
  align-self: flex-end;
  color: var(--color-light-900);

  &:hover {
    color: var(--color-light-100);
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:focus-visible {
    color: var(--color-light-500);
  }
}
