.profileHeaderContainer {
  display: flex;
  gap: 40px;
  align-items: center;
  width: 100%;
}

.profileHeaderAvatar {
  flex-shrink: 0;
}

.profileHeaderContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
}

.profileHeaderTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profileHeaderDescription {
  max-width: 100%;
  overflow-wrap: break-word;
}
