.content {
  width: 100%;
  max-width: 500px;
}

.overlay {
  &[data-state='open'] {
    opacity: 0.8;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  margin: 24px 0 60px;
  object-fit: cover;
  border-radius: var(--border-radius-xs)
}

.noImageCard {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 222px;
  height: 228px;
  margin: 24px 0 60px;

  background-color: var(--color-dark-500);
  border-radius: var(--border-radius-xs);
}

.icon {
  width: 48px;
  height: 48px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  padding: 6px 36px;
}
