.trigger {
  padding: 6px;
  opacity: 0.8;
  background-color: var(--color-dark-500);
}

.dropdownContent {
  min-width: 156px;
  opacity: 0.8;
  background-color: var(--color-dark-500);
}

.item {
  justify-content: space-between;

}

.icon {
  width: var(--icon-size-m);
  height: var(--icon-size-m);
}